
<div class="container">
  <h4>Template Driven Forms </h4> 
<form (ngSubmit) ="onsubmit(f)" #f="ngForm"> 
<div id="user data">
  <div class="form-group">
      <label for="name">Full Name:</label>
      <input type="name" class="form-control" id="name"
      ngModel
      name="name"
      required>
      </div>
      <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email"
    name="email"
    required
    email
    ngModel
    #email = "ngModel">
    <span class="help-block" *ngIf = "!email.valid && email.touched"> Please Enter a valid email </span>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd"
    name="pwd"
    required>
  </div>
<div class="form-group">
<label for="inputState">State</label>
<select id="inputState" class="form-control" name="ci"
[ngModel] = " defaultStates">
  <option value="city"> Select city</option>
  <option value="mycity">Bangalore</option>
  <option value="cityy">kolkata</option>
</select>
</div>
<!--<div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline1"
    >
    Male</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline2"> Female</label>
  </div>
<div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>-->
  <div class= "radio" *ngFor = "let gender of genders">
    <label>
      <input type="radio"
      name=" gender"
       [ngModel]="defaultt"
       required
      [value] = " gender">
      {{gender}}
    </label>
  </div>
  <button type="submit" class="btn btn-primary"
  [disabled] = "!f.valid"
>Submit</button>
</div>
<div class ="form-group">
  <textarea
  name="3"
  rows="3"
  [(ngModel)]="answer"></textarea> 

</div>
<p> your reply : {{answer}}</p>
</form>
</div>
<hr> 
<div class= "row">
  <div class="col-xs-12">
  <h3> your data</h3>
  <p> Username : {{user.username}}</p>
  <p> Email Address : {{user.EmailAddress}}</p>
  <p> Password  : {{user.Password}}</p>
  <P> Gender : {{user.Gender}}</P>
</div>
</div>

